---
// src/components/GuideBar.astro
---
<section class="guide-bar" id="guide-bar">
    <div class="guide-inner">
        <a href="javascript:void(0)" data-category="all" class="guide-chip active">
            <span class="material-icons-round">explore</span> 全部
        </a>
        <a href="javascript:void(0)" data-category="AI" class="guide-chip">
            <span class="material-icons-round">psychology</span> AI推理
        </a>
        <a href="javascript:void(0)" data-category="嵌入式" class="guide-chip">
            <span class="material-icons-round">developer_board</span> 驱动开发
        </a>
        <a href="javascript:void(0)" data-category="PCB" class="guide-chip">
            <span class="material-icons-round">cable</span> PCB/硬件
        </a>
        <a href="javascript:void(0)" data-category="开发板" class="guide-chip">
            <span class="material-icons-round">devices</span> 开发板
        </a>
        <a href="javascript:void(0)" data-category="Linux" class="guide-chip">
            <span class="material-icons-round">terminal</span> Linux
        </a>
    </div>
</section>
